{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Liste des articles</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Liste des articles</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Liste des articles
                    </div>
                    <div class="card-body">
                        {% for article in articles %}
                            <div class="mb-3 p-3 border rounded">
                                <h5>Article {{ article.id }}</h5>
                                <p><strong>Titre de l'article :</strong> {{ article.titre }}</p>
                                <p><strong>Date de publication :</strong> {{ article.date|date('d/m/Y') }}</p>
                                <p><strong>Publié :</strong> {{ article.publie ? 'Oui' : 'Non' }}</p>
                                <p><strong>Contenu de l'article :</strong> {{ article.texte }}</p>
                                <a href="{{ path('app_article_show', {id: article.id}) }}" class="btn btn-success">Lire</a>
                                <a href="{{ path('app_article_update', {id: article.id}) }}" class="btn btn-primary">Modifier</a>
                                <a href="{{ path('app_article_delete', {id: article.id}) }}" class="btn btn-danger">Supprimer</a>
                            </div>
                        {% else %}
                            <p>Aucun article trouvé.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}